body {
  padding-top: 5rem;
  background: #BEEFEF;
  color: #5DB3B3; }

nav.bg-dark {
  background: #717EC3 !important; }

h2, h3, h4 {
  border-bottom: 1px solid #FFF0CB; }

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 125%;
  /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
  border: 2px solid #FFF0CB;
  border-radius: .5rem; }

.iframe-container > * {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

blockquote {
  font-size: .85rem;
  font-color: #8ED7D7;
  /*border-left: 2px solid $white;
	margin-left: 2rem;
	padding-left: 1rem;*/ }

input.value {
  text-align: center;
  width: 6rem;
  background: none;
  border: none;
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding-bottom: 0px; }

textarea#console {
  font-size: .65rem;
  color: #FFBC85;
  border: 2px solid #FFF0CB;
  border-radius: .5rem; }

span.units {
  font-size: .65rem;
  color: #8ED7D7;
  white-space: nowrap;
  clear: left;
  display: block; }

.slider-handle,
.slider-selection {
  background: #5DB3B3; }

svg.chart {
  max-width: 1000px !important;
  width: 100% !important;
  background: #EDEFFD;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #FFF0CB;
  border-radius: .5rem; }

.area {
  /*fill: lightsteelblue;*/
  /*fill: url('../assets/pattern_of_stone_texture.jpg');*/ }

footer {
  color: #9DA7DF;
  background: #FFFAEC;
  font-size: .75rem; }
  footer h4 {
    font-size: .75rem; }
  footer a {
    font-size: .75rem;
    text-decoration: none;
    font-weight: normal;
    color: #9DA7DF; }
